{% extends 'base.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body%}
	
 


	<div class="row">
		<h1 class="text-center text-muted mt-4 mb-2">Inscription</h1>
		<div class="col-md-4 mx-auto mt-2">
			
			{{form(form)}}
			


	{% endblock %}
